<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>645134015794-4540nmajrhhkfebjo8eso4gg78091fjh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.645134015794-4540nmajrhhkfebjo8eso4gg78091fjh</string>
	<key>API_KEY</key>
	<string>AIzaSyBZlv3Qo0ljj4P82dS99aTf1OPjZHLXi7c</string>
	<key>GCM_SENDER_ID</key>
	<string>645134015794</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.healthavatar.beansavatar</string>
	<key>PROJECT_ID</key>
	<string>push-5b326</string>
	<key>STORAGE_BUCKET</key>
	<string>push-5b326.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:645134015794:ios:dc505a5dca354b5b</string>
	<key>DATABASE_URL</key>
	<string>https://push-5b326.firebaseio.com</string>
</dict>
</plist>